<h1>All Posts!!!</h1>

<% @posts.each do |post|%>
  <div>
    <h1><%= post.name %></h1>
    <p><strong>Email:</strong> <%= post.email %></p>
    <p><%= post.comment %></p>
  </div>
<% end %>

